@import "./../../_settings/settings";

.category-list {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	list-style: none;
	margin: 0;
	padding: 0;

	&__item {
		height: 100%;
		flex: 1 150px;
	}

	&__block {
		height: 100%;
	}
}

.category-list-item {
	display: flex;
	padding: 1.5rem 1rem;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	&__image {
		transition: 350ms;
	}

	&__title {
		@include custom-head();
		font-size: 1rem !important;
		color: var(--ant-primary-color);
		text-align: center;
		transition: 350ms;
	}

	&:hover &__title {
		color: var(--ant-primary-color-hover);
		transition: 350ms;
	}

	&:hover &__image {
		transform: translateY(-3px);
		transition: 350ms;
	}
}