.banner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	overflow: hidden;
	// min-width: 250px;
	flex: 1 300px;

	&--size {
		&--small {
			font-size: .8rem;
		}

		&--middle {
			font-size: 1rem;
		}

		&--large {
			font-size: 1.2rem;
		}
	}

	&__image {
		border-radius: var(--border-radius);
		transition: 350ms;
	}

	&:hover &__image {
		transform: scale(1.1) rotate(3deg);
		transition: 350ms;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		background-color: rgba(0, 0, 0, .35);
	}

	&__title {
		color: #FFF !important;
		font-size: 2.5em !important;
		font-weight: 600;
		line-height: 1 !important;
		margin: 0 !important;
		text-align: center;
	}
}