@import "./../../_settings/settings";

.app-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: z-index("header");
    height: auto !important;
    padding: 0 !important;

    &__inner {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0;
        color: #FFF;
    }

    &__toggle-menu {
        font-size: 1.5rem;
    }

    &__main-menu {
        flex: 1;
    }
}